
BODY { margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; }

.mb { color: #000000; background-color: #ffffff; font-size: 10pt; font-family: Arial,Helvetica,SansSerif; }

.mb .error { color:#c82020; background-color: #ffffff; font-size: 10pt; }
.mb .footer { font-size: 8pt; }
.mb .title { color: #2020a0; font-weight: bold; font-size: 16pt; margin-top: 12px; margin-bottom: 12px; }
.mb .warning { color: #a84040; font-size: 10pt; }


.mb .formStyle { font-size: 10pt; font-family: arial,helvetica,sans-serif; background-color: #e8e8e8; }
.mb .formStyle .heading { font-size: 12pt; font-weight: bold; color: #ffffff; background-color: #000099; }
.mb .formStyle .subheading { font-size: 11pt; font-weight: bold; }
.mb .formStyle .row1 { font-size: 10pt; background-color: #ffffff; }
.mb .formStyle .row2 { font-size: 10pt; background-color: #d8d8d8; }

.mb INPUT    { font-family: arial,helvetica,sans-serif; border-width: 1px; border-color: #c8c8ff; }
.mb TEXTaREA { font-family: arial,helvetica,sans-serif; border-width: 1px; border-color: #c8c8ff; }


.mb .result { font-size: 10pt; }
.mb .result .heading { font-size: 12pt; font-weight: bold; color: #ffffff; background-color: #000000; }
.mb .result .colheading { font-size: 10pt; font-weight: bold; color: #000000; background-color: #c0c4c4; }

.mb .result .row1 { font-size: 10pt; background-color: #ffffff; }
.mb .result .row1 A { font-size:10pt; }
.mb .result .row1 A:link { text-decoration: none; color: #000099; }
.mb .result .row1 A:visited { text-decoration: none; color: #000099; }
.mb .result .row1 A:active { text-decoration: none; color: #000099; }
.mb .result .row1 A:hover { text-decoration: none; color: #000066; background-color: #9999ff; }

.mb .result .row2 { font-size: 10pt; background-color: #d8d8d8; }
.mb .result .row2 A { font-size:10pt; }
.mb .result .row2 A:link { text-decoration: none; color: #000099; }
.mb .result .row2 A:visited { text-decoration: none; color: #000099; }
.mb .result .row2 A:active { text-decoration: none; color: #000099; }
.mb .result .row2 A:hover { text-decoration: none; color: #000066; background-color: #9999ff; }


.mb .body { font-family:verdana,arial,helvetica,sans-serif; font-size:10pt; color: #000000; background-color: #ffffff;  }
.mb .body .heading { font-size: 12pt; font-weight: bold; }
.mb .body A { font-size:10pt; }
.mb .body A:link { text-decoration: none; color: #000099; }
.mb .body A:visited { text-decoration: none; color: #000099; }
.mb .body A:active { text-decoration: none; color: #000099; }
.mb .body A:hover { text-decoration: none; color: #ffffff; background-color: #000099; }
